<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level (%logger{2}) - %msg%n"/>
        </Console>
        <File name="LogFile" fileName="/var/log/specs-auditing/audit-server-http.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level (%logger{2}) - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
        <Logger name="org.specs.auditing" level="trace">
        </Logger>
    </Loggers>
</Configuration>
